.style-caption {
  position: relative;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  background: -webkit-gradient(linear, left bottom, left top, from(#212121), to(#2c2c2c));
  background: -webkit-linear-gradient(bottom, #212121 0%, #2c2c2c 100%);
  background: -o-linear-gradient(bottom, #212121 0%, #2c2c2c 100%);
  background: linear-gradient(0deg, #212121 0%, #2c2c2c 100%);
  -webkit-box-shadow: 0px 1px 3px 0px #0b0b0b;
          box-shadow: 0px 1px 3px 0px #0b0b0b;
  color: rgba(255, 255, 255, 0.95);
  letter-spacing: 0.06px;
  line-height: 32px; }

.bg-block {
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.3); }

.active-menu {
  color: #e37721 !important;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.3); }

li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  -webkit-border-radius: 3px;
          border-radius: 3px; }

body {
  font-family: "Lato", sans-serif;
  width: 1175px;
  padding: 0 1%;
  margin: 1% auto;
  font-size: 16px;
  background-image: url("../img/bg.jpg"); }

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }
  header #nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 740px; }
    header #nav a {
      color: #999;
      font-size: 14px;
      font-weight: 700;
      padding: 7px 12px; }
      header #nav a:hover {
        color: #e37721; }

.slider {
  width: 100%;
  background: url("../img/photo-slider-0.jpg");
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-shadow: 0px 1px 0px #080909;
  -webkit-box-shadow: 0px 0px 13px -3px #000000;
          box-shadow: 0px 0px 13px -3px #000000;
  color: #fff;
  margin-bottom: 10px;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -moz-transition-duration: 0.5s; }
  .slider span {
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.07px; }
  .slider p {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.06px; }
  .slider #slider-news-info {
    background-color: rgba(0, 0, 0, 0.5);
    height: 56px;
    width: 100%;
    padding-left: 10px; }
    .slider #slider-news-info a {
      color: #1dbaea; }
      .slider #slider-news-info a:hover {
        color: #009ACB; }
  .slider .slider-sidebar {
    -webkit-box-shadow: -7px -1px 12px -7px #000000;
            box-shadow: -7px -1px 12px -7px #000000; }
    .slider .slider-sidebar .active {
      background: -webkit-gradient(linear, left bottom, left top, from(#1b88a9), to(#3fbbe7));
      background: -webkit-linear-gradient(bottom, #1b88a9 0%, #3fbbe7 100%);
      background: -o-linear-gradient(bottom, #1b88a9 0%, #3fbbe7 100%);
      background: linear-gradient(0deg, #1b88a9 0%, #3fbbe7 100%); }
      .slider .slider-sidebar .active span {
        color: rgba(255, 255, 255, 0.85); }
      .slider .slider-sidebar .active p {
        color: #e5faff; }
      .slider .slider-sidebar .active .time {
        color: #d0f2ff; }
    .slider .slider-sidebar div {
      width: 245px;
      height: 57px;
      background: -webkit-gradient(linear, left bottom, left top, from(#212121), to(#2c2c2c));
      background: -webkit-linear-gradient(bottom, #212121 0%, #2c2c2c 100%);
      background: -o-linear-gradient(bottom, #212121 0%, #2c2c2c 100%);
      background: linear-gradient(0deg, #212121 0%, #2c2c2c 100%);
      -webkit-box-shadow: 0px 1px 0px 0px #2c2c2c;
              box-shadow: 0px 1px 0px 0px #2c2c2c;
      text-shadow: 0px 1px 0px rgba(8, 9, 9, 0.15);
      padding-left: 10px;
      position: relative;
      cursor: pointer; }
      .slider .slider-sidebar div span {
        color: #d9d9d9; }
      .slider .slider-sidebar div p {
        color: #a6a6a6; }
      .slider .slider-sidebar div .time {
        position: absolute;
        top: 5px;
        right: 15px;
        color: #8c8c8c; }

.bf-3,
.driver-sf,
.gta-v {
  display: none; }

.gamepro {
  font-size: 12px;
  line-height: 40px;
  padding-left: 10px;
  margin-bottom: 10px;
  font-style: italic;
  color: #595959;
  text-shadow: 0px 1px 0px rgba(8, 9, 9, 0.55); }

.main {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .main .main-news {
    width: 695px; }
    .main .main-news .news {
      padding: 10px;
      color: #5e5d5d;
      font-size: 14px;
      -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.03);
              box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.03);
      margin-bottom: 10px; }
      .main .main-news .news .title {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        line-height: 40px; }
        .main .main-news .news .title ul {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          padding-right: 10px;
          width: 250px; }
          .main .main-news .news .title ul a {
            color: #8d8d8d;
            font-size: 12px; }
            .main .main-news .news .title ul a:hover {
              color: #fff; }
          .main .main-news .news .title ul p {
            width: 16px;
            height: 14px;
            background: url("../img/icons/news-icons.png") no-repeat;
            margin: 0 3px 0 15px; }
            .main .main-news .news .title ul p:nth-child(3) {
              width: 20px;
              background-position: -32px 0; }
            .main .main-news .news .title ul p:nth-child(5) {
              background-position: -14px 0; }
        .main .main-news .news .title span {
          font-weight: 700; }
    .main .main-news .main-img {
      float: left;
      margin-right: 10px; }
      .main .main-news .main-img img {
        -webkit-box-shadow: 0px 1px 5px 0px rgba(8, 9, 9, 0.75);
                box-shadow: 0px 1px 5px 0px rgba(8, 9, 9, 0.75);
        width: 300px; }
      .main .main-news .main-img .button {
        text-align: center;
        color: #606060;
        font-size: 14px;
        line-height: 38px;
        margin-top: 5px; }
        .main .main-news .main-img .button:hover {
          color: #C5C5C5; }
  .main .pages {
    color: #c3c3c3;
    font-size: 12px;
    line-height: 35px;
    padding-left: 10px;
    margin-bottom: 35px; }
    .main .pages .active-page {
      color: #F5B034; }
    .main .pages span {
      margin-left: 20px; }
      .main .pages span a {
        margin-right: 5px;
        color: #e37721; }
        .main .pages span a:hover {
          color: #F5B034; }
  .main .l-sidebar {
    width: 230px;
    text-shadow: 0px 1px 0px rgba(8, 9, 9, 0.75); }
    .main .l-sidebar .navigation {
      padding: 10px;
      margin-bottom: 10px; }
      .main .l-sidebar .navigation .style-caption img {
        position: absolute;
        right: 10px;
        top: 5px;
        cursor: pointer; }
      .main .l-sidebar .navigation li {
        margin: 0 10px 0 -10px;
        border-top: 1px solid rgba(255, 255, 255, 0.03); }
        .main .l-sidebar .navigation li:first-child {
          border-top: none;
          background-color: rgba(255, 255, 255, 0.05); }
          .main .l-sidebar .navigation li:first-child a {
            color: #e6e6e6; }
      .main .l-sidebar .navigation a {
        color: #404040;
        font-size: 13px;
        letter-spacing: 0.06px;
        line-height: 24px;
        padding-left: 2px; }
        .main .l-sidebar .navigation a:hover {
          color: #e6e6e6; }
    .main .l-sidebar .best-articles {
      padding: 10px; }
      .main .l-sidebar .best-articles .style-caption img {
        position: absolute;
        right: 10px;
        top: 5px;
        cursor: pointer; }
      .main .l-sidebar .best-articles .recon {
        padding-left: 5px; }
        .main .l-sidebar .best-articles .recon img {
          -webkit-box-shadow: 0px 1px 5px 0px rgba(8, 9, 9, 0.75);
                  box-shadow: 0px 1px 5px 0px rgba(8, 9, 9, 0.75); }
        .main .l-sidebar .best-articles .recon p {
          font-size: 12px;
          letter-spacing: 0.055px;
          max-width: 220px;
          padding: 5px 0;
          color: #5e5d5d; }
          .main .l-sidebar .best-articles .recon p:nth-child(3n+1) {
            color: rgba(255, 255, 255, 0.95); }
  .main .r-sidebar {
    width: 230px; }
    .main .r-sidebar .style-caption img {
      position: absolute;
      right: 10px;
      top: 8px;
      cursor: pointer; }
    .main .r-sidebar .right-blocks {
      padding: 10px 10px 2px 10px;
      margin-bottom: 10px; }
    .main .r-sidebar .info-profile {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .main .r-sidebar .info-profile .focus {
        color: #fff; }
      .main .r-sidebar .info-profile span {
        display: block;
        color: #848484;
        font-size: 12px;
        margin-left: 10px;
        padding: 2px 0;
        font-weight: 900;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
      .main .r-sidebar .info-profile a {
        font-size: 11px;
        color: #ababab; }
        .main .r-sidebar .info-profile a:hover {
          color: #fff; }
      .main .r-sidebar .info-profile li {
        background: url(../img/icons/user-panel-icons.png) no-repeat;
        padding-left: 15px;
        margin-left: -15px;
        background-position: 0 5px; }
        .main .r-sidebar .info-profile li:nth-child(2) {
          background-position: 0 -14px; }
        .main .r-sidebar .info-profile li:nth-child(3) {
          background-position: 0 -35px; }
        .main .r-sidebar .info-profile li:nth-child(4) {
          background-position: 0 -55px; }
    .main .r-sidebar .material {
      text-align: center;
      color: #606060;
      font-size: 12px;
      margin-top: 10px; }
      .main .r-sidebar .material:hover {
        color: #C5C5C5; }
    .main .r-sidebar #interview {
      color: #404040;
      font-size: 12px;
      margin-left: 5px; }
      .main .r-sidebar #interview p {
        padding-left: 10px;
        line-height: 24px;
        color: #e6e6e6;
        letter-spacing: 0.06px;
        margin-bottom: 5px; }
    .main .r-sidebar .dispatch {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .main .r-sidebar .dispatch .style-button {
        background: -webkit-gradient(linear, left bottom, left top, from(#f09e00), to(#ffe552));
        background: -webkit-linear-gradient(bottom, #f09e00 0%, #ffe552 100%);
        background: -o-linear-gradient(bottom, #f09e00 0%, #ffe552 100%);
        background: linear-gradient(0deg, #f09e00 0%, #ffe552 100%);
        -webkit-box-shadow: 0px 1px 8.6px 1.4px rgba(242, 164, 13, 0.37);
                box-shadow: 0px 1px 8.6px 1.4px rgba(242, 164, 13, 0.37);
        border: none;
        -webkit-border-radius: 15px;
                border-radius: 15px;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0.06px;
        width: 80px;
        margin: 10px;
        outline: 0;
        cursor: pointer; }
        .main .r-sidebar .dispatch .style-button:last-child {
          background: -webkit-gradient(linear, left bottom, left top, from(#9a9a9a), to(#ffffff));
          background: -webkit-linear-gradient(bottom, #9a9a9a 0%, #ffffff 100%);
          background: -o-linear-gradient(bottom, #9a9a9a 0%, #ffffff 100%);
          background: linear-gradient(0deg, #9a9a9a 0%, #ffffff 100%);
          -webkit-box-shadow: 0px 0px 5px 0px rgba(8, 9, 9, 0.75);
                  box-shadow: 0px 0px 5px 0px rgba(8, 9, 9, 0.75); }
        .main .r-sidebar .dispatch .style-button:hover {
          text-shadow: -0.3px -0.3px #000; }
    .main .r-sidebar .soc-club p {
      color: #3a3a3a;
      font-size: 12px;
      line-height: 26px;
      margin-bottom: 5px;
      padding-left: 30px;
      margin-left: 10px;
      background: url("../img/icons/social-icons.png") no-repeat;
      cursor: pointer; }
      .main .r-sidebar .soc-club p:nth-child(3) {
        background-position: 0 -32px; }
      .main .r-sidebar .soc-club p:nth-child(4) {
        background-position: 0 -64px; }
      .main .r-sidebar .soc-club p:hover {
        color: gray; }
    .main .r-sidebar .add-me {
      background: -webkit-gradient(linear, left bottom, left top, from(#13627a), to(#3399be));
      background: -webkit-linear-gradient(bottom, #13627a 0%, #3399be 100%);
      background: -o-linear-gradient(bottom, #13627a 0%, #3399be 100%);
      background: linear-gradient(0deg, #13627a 0%, #3399be 100%);
      -webkit-border-radius: 3px;
              border-radius: 3px;
      -webkit-box-shadow: 0px 1px 0px 0px #2c2c2c;
              box-shadow: 0px 1px 0px 0px #2c2c2c;
      color: #91ddf8;
      font-size: 12px;
      line-height: 26px;
      margin: 10px 0;
      text-align: center; }
      .main .r-sidebar .add-me:hover {
        color: #fff; }

footer {
  width: 1000px;
  margin: 0 auto;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 35px; }
  footer ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    footer ul li {
      margin: 0 15px; }
    footer ul a {
      color: #3d3d3d;
      font-size: 12px;
      letter-spacing: 0.06px; }
      footer ul a:hover {
        color: gray; }
  footer .end {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.07px;
    margin: 25px 0 50px; }
    footer .end span {
      color: #e37721; }
    footer .end p {
      font-size: 12px;
      color: #565656; }

.slider-bg-0
  background: url(../img/photo-slider.jpg);
.slider-bg-1
  background: url(../img/photo-slider-bf.jpg);
.slider-bg-2
  background: url(../img/photo-slider-dr.jpg);
.slider-bg-3
  background: url(../img/photo-slider-gta.jpg);
